
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(110, 140, 25);
    color: rgb(50, 50, 50);
}

nav {
    background-color: rgb(200, 200, 100);
    font-family: Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(50, 50, 50);
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-weight: bold;
    transition: all 0.3s ease;
}

a:hover {
    color: rgb(110, 140, 25);
    transform: scale(1.05);
}

.cart-container {
    position: relative;
    width: 40px;
    height: 40px;
}

.cart-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.cart-number {
    position: absolute;

    top: -7px;
    right: -3px;

    width: 20px;
    height: 20px;

    background-color: red;
    color: white;
    
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 12px;
    font-weight: bold;
}

.cart-icon:hover {  
    color: rgb(110, 140, 25);
    transform: scale(1.05);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
} 

 .hero-content h1  {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: rgb(50, 50, 5);
    color: rgb(200, 200, 100);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    color: rgb(50, 50, 5);
    background-color: rgb(110, 140, 25);
    transform: scale(1.05);
}

section h2 {
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 2rem;
}

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 20px;
}

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 20px;
}


.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(200, 200, 100);
    border-radius: 20px;
    overflow: visible;
    width: 300px;
    min-height: 260px;
    height: auto;
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 12px;
}

.card img {
    display: block;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    align-self: flex-start;
}

.category-item a{
    display: inline;
    padding: 10px;
    color:rgb(50, 50, 5);
} 


.shop-card-button {
    display: inline-block;
    padding: 8px 14px;
    margin: 0;
    font-size: 0.8rem;
    background-color: rgb(50, 50, 5);
    color: rgb(80, 100, 15);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.shop-card-button:hover {
    color: rgb(50, 50, 5);
    background-color: rgb(110, 140, 25);
    transform: scale(1.05);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
    padding: 0 10px 12px;
}

